@font-face {
    font-family: 'alexandria';
    src: url('./Alexandria/Alexandria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'alexandria';
    src: url('./Alexandria/Alexandria-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'alexandria';
    src: url('./Alexandria/Alexandria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'alexandria';
    src: url('./Alexandria/Alexandria-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'alexandria';
    src: url('./Alexandria/Alexandria-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'alexandria';
}


.d-none{
    display: none;
}
.d-flex{
    display: flex;
}
.container {
    overflow: hidden;
    background-color: #F9F9F9;
    .delay-header {
        width: 100%;
        background-color: #D4D9E4;
        min-height: 241px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .delay-content-section {
        min-height: 336px;
        width: 91.76%;
        border-radius: 20px;
        transform: translateY(-66px);
        margin-inline:auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        border: 1px solid #D4D9E4;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.6);

        & .delay-reported {
            width: 294px;
            text-align: center;
            font-size: 16px;
            line-height: 36px;
            font-weight: 400;
            margin-top: 10px;
        }

        & .delay-implemented-btn{
            Width:189px;
            Height:57px;
            background-color: #F4EBFF;
            border-radius: 100px;
            margin-inline: auto;
            border: none;
            font-size: 20px;
            font-weight: 300;
            margin-top: 20px;
        }
    }

    & .why-delay{
        margin-top: -48px;
        width: 91.76%;
        margin-inline: auto;
        background-color: #fff;
        border: 1px solid #D4D9E4;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.6);
        border-radius: 20px;
        height: 118px;
        padding: 20px 45px;

        & .why-reason-head{
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 20px;
        }

        & .why-click-here{
            color: #31006F;
            font-weight: 700;
            font-size: 18px;
            width: 100%;
            display: inline-block;
            text-decoration: none;
        }

    }
    & .package-info{
        height: auto;
        margin-top: 16px;
        & .package-info-head{
            font-weight: 400;
            font-size: 13px;
            margin-bottom: 20px;
        }
        & .client-name{
            flex-direction: row-reverse;
            gap: 10px;
            margin-bottom: 10px;
            & .client-name-head{
                font-weight: 300;
                font-size: 14px;
                color: #89919A;
            }
            & .client-name-text{
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
 


}
#thank-you-dialog, #complain {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 434px;
    transform: translateY(calc(100dvh - 434px));
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);;
    }
    
    .d-flex {
        background-color: #fff;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        min-height: 434px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        p {
            font-size: 20px;
            font-weight: 700;
            width: 302px;
            margin-inline: auto;
            text-align: center;
            line-height: 40px;
        }

        p:nth-child(3) {
            font-weight: 400;
            font-size: 16px;
        }
    }
}

#complain {
    height: 700px;
    transform: translateY(calc(100dvh - 700px));
    .complain-content {
        padding-inline: 26px;
        height: 100%;
        background-color: #fff;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        padding-top: 64px;
        & .complain-head{
            width: calc( 374px / 430px);
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            margin-bottom: 40px;
        }
        & .check-box{
            display: flex;
            flex-direction: row-reverse;
            gap: 40px;
            & .no label, & .yes label{
                margin-right: 7px;
            }
            & input[type="radio"]{
                width: 20px;
                height: 20px;
                accent-color: #31006F;

             
            }
        }
        textarea[name='add-notes']{
            direction: rtl;
            padding: 20px;
            width: 100%;
            margin-top: 40px;
            border: 1px solid #D4D9E4;
            border-radius: 10px;
            height: 100px;
        }
        & .btn-send{
            width: 100%;
            margin-top: 102px;
            border-radius: 51px;
            background-color: #31006F;
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            line-height: 41px
        }
    }
}



   /* Animation */

   .spinner{
    width: 100vw;
    height: 100vh;
   }

.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #5D3FD3;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
    top: 50%; left: 50%; transform: translate(-50%, -50%);
   }
   
   .three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
   }
   
   .three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
   }
   
   .three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
   }
   
   .three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
   }
   
   .three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite
       calc(var(--uib-speed) * -0.15) ease-in-out;
   }
   
   .three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
   }
   
   .three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
   }
   
   @keyframes spin78236 {
    0% {
     transform: rotate(0deg);
    }
   
    100% {
     transform: rotate(360deg);
    }
   }
   
   @keyframes wobble1 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(-66%) scale(0.65);
     opacity: 0.8;
    }
   }
   
   @keyframes wobble2 {
    0%,
     100% {
     transform: translateY(0%) scale(1);
     opacity: 1;
    }
   
    50% {
     transform: translateY(66%) scale(0.65);
     opacity: 0.8;
    }
   }

   dialog:modal {
    max-width: 100%;
    width: 100%;
    overflow: hidden !important

   }

